<% include ../partials/header %> <!-- to include partials header -->
<!-- ______^partial header^______navbar location____________________________-->


<h1><%= campData.name %></h1>

<img src="<%= campData.image %>"/>

<p><%= campData.description %></p>

<% campData.comments.forEach(function(comment){ %>
    <p>
        <strong><%= comment.author %></strong> - <%= comment.text %>
    </p>
<% }); %>

<!-- _____________________________partial footer___________________________ -->
<% include ../partials/footer %> <!-- to include partials footer -->
